---
layout: default
title: Blog
in_menu: 3
menu_name: Blog
styles:
  - blog
---

<main class="container">

  {% include base/blog_pagination.html %}
  
  {% for post in paginator.posts %}
  {% unless post.draft %}
    <div class="blog-excerpt well {{post.categories | first}}">
      <strong>{{ post.title }}</strong>
      <code class="pull-right">{{ post.date | date_to_string }}</code>
      <div>{{ post.excerpt }} <a href="{{ post.url }}">Continue reading »</a></div>
    </div>
  {% endunless %}
  {% endfor %}
  
  {% include base/blog_pagination.html %}
  
</main>
